doctype html
html(lang="en")
  head
    //- Required meta tags always come first
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    <link href="https://fonts.googleapis.com/css?family=Aldrich|Orbitron|Racing+Sans+One|Russo+One" rel="stylesheet">

    //- Bootstrap CSS
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
    link(rel="stylesheet" href="main.css")
    link(re="stylesheet" href="otherFile.css")

    //- jQuery first, then Tether, then Bootstrap JS.
    script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")

  style.
    h1{
      font-size: 50px;
      font-family: 'Russo One', sans-serif;
      color:#00E8FF;
    }
    h2{
       font-family: 'Aldrich', sans-serif;
       font-size: 40px;
       color:#00E8FF;
    }
    th{
      color:#00E8FF;
      font-family: 'Aldrich', sans-serif;
    }
    td{
      color:#00E8FF;
      font-family: 'Aldrich', sans-serif;
    }
    body
    {
      background-color: #000000;
      width: 100%;
      height: 100%;
      background-image:url(images/background.png);
      background-size: cover;
      background-repeat: no-repeat;
      margin: 0;
    padding: 0;
    }
    thead
    {
      background-color: #000000;
    }
    tbody
    {
      background-color: #000000;
    }
    .jumbotron
    {
      background-color: #303030;
      border-style: solid;
      border-width: 5px 80px;
      border-color: white;
      border-radius: 1000px;
    }
  
  body
    div.container-fluid
      div.jumbotron.text-center
        h1 Beat'Em Leaderboard
          h2 High Scores
      table.table.table-hover.table-striped
        thead
          tr
            th #
            th Name
            th Score
        tbody
          for result, index in entries
            tr
              //- Add 1 so that ranks start at 1 rather than 0
              th(scope='row') #{index + 1}
              td #{result.name}
              td #{result.score}

//font-family: 'Russo One', sans-serif;
//font-family: 'Orbitron', sans-serif;
//font-family: 'Aldrich', sans-serif;
//font-family: 'Racing Sans One', cursive;